<div class="content">
  <p style="font-size: larger;"><b>List Customer</b></p>
  <form style="float: left;margin-left: 20px" [formGroup]="Search" (ngSubmit)="submit()">
    <table>
      <tr>
        <td><input class="form-control"  formControlName="name" type="text" placeholder="enter your name"/></td>
        <td><button type="submit" class="btn btn-primary" >Search</button></td>
      </tr>
    </table>
  </form>
  <a class="btn btn-primary" role="button" aria-disabled="true"
     style="float: right;margin-right: 20px;margin-bottom: 10px" routerLink="/createCustomer">Add New</a><br><br>
  <b *ngIf="mess" style="color: red">{{mess}}</b>
  <table class="table table-striped">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Customer Type</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let customer of customers| paginate:{itemsPerPage:3, currentPage: p},let i=index ">
      <td>{{i + 1}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.typeCus.name}}</td>
      <td>{{customer.dateOfBirth|date:"dd/MM/yyyy"}}</td>
      <td>{{customer.gender}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>
        <a class="btn btn-outline-success btn-sm" role="button"
           aria-disabled="true" (click)="edit(customer.id)">Edit</a>
        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                id="btn_del" (click)="check(customer.id)">Delete
        </button>
      </td>
    </tr>
  </table>
</div> <pagination-controls (pageChange)="p=$event"></pagination-controls>
<!-- Modal Delete-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <b *ngIf="customerDel!=null">Are you sure you want to delete {{customerDel.name}}?</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="del"
                (click)="deleteById(customerDel.id)">Delete
        </button>
      </div>
    </div>
  </div>
</div>
