<div class="content">
  <form >
    <fieldset>
      <legend>New Contract</legend>
        <table width=70%>
          <tr>
            <td>
              <div class="mb-3 ">
                <label class="form-label">Contract Number</label>
                <input  type="text" class="form-control" placeholder="Enter your contract number">
              </div>
            </td>
            <td>
              <div class="mb-3 ">
                <label class="form-label">Deposit</label>
                <input  type="text" class="form-control" placeholder="Enter your deposit">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="mb-3 ">
                <label class="form-label">Start Day</label>
                <input  type="date" class="form-control">
              </div>
            </td>
            <td>
              <div class="mb-3 ">
                <label class="form-label">End Day</label>
                <input  type="date" class="form-control">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="mb-3 ">
                <label class="form-label">Total</label>
                <input  type="text" class="form-control" placeholder="Enter your id total">
              </div>
            </td>
            <td></td>
          </tr>
          <tr >
            <td></td>
            <td >
              <input type="submit" class="btn btn-primary" role="button"
                     aria-disabled="true" style="float: right" value="Add"/>
              <input type="button" class="btn btn-primary" style="float: right;margin-right: 10px;" onclick="history.back()" value="Back"/>
            </td>
          </tr>
        </table>
    </fieldset>
  </form>
</div>

