
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
<a href="#home">
  <button type="button" class="btn btn-outline-primary btn-ho"><i
    class="fa-solid fa-arrow-up"></i></button>
</a>
<form style="float: left;margin-left: 20px" [formGroup]="Search" (ngSubmit)="submit()">
  <table>
    <tr>
      <td><input class="form-control"  formControlName="name" type="text" placeholder="enter your name"/></td>
      <td><button type="submit" class="btn btn-primary" >Search</button></td>
    </tr>
  </table>
</form>
<a routerLink="/createFacilities" class="b"><button type="button" class="btn btn-primary">Add Facilities</button></a>
<b *ngIf="mess" style="color: red">{{mess}}</b>
<div class="list" id="home">
  <div class=" card item" *ngFor="let facility of facilitys | paginate:{itemsPerPage:3, currentPage: p}" >
    <div class="btn-hi" >
      <a  routerLink="/upFacilities/{{facility.id}}">
        <button type="button" class="btn btn-success">Edit</button>
      </a>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal"
              data-bs-target="#exampleModal" (click)="check_del(facility.id)">Delete
      </button>
    </div>
    <img src="{{facility.image}}" class="card-img-top" alt="..." width="288px" height="200px"
         style="border-radius: 5px">
    <div class="card-body">
      <h5 class="card-title ">{{facility.name}}</h5>
      <p class="card-text ">Room size: {{facility.area}}m<sup>2</sup></p>
      <a style="float: right" href="#"> <img
        src="https://img.icons8.com/material-outlined/20/null/info--v1.png"/>Know more</a>
    </div>
  </div>
</div> <pagination-controls (pageChange)="p=$event"></pagination-controls>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Facilities</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <b *ngIf="fac">Do you want to delete {{fac.name}}</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="del"
                (click)="del(id_del)">Delete
        </button>
      </div>
    </div>
  </div>
</div>

